:root {
    --gris: #d9d9d9;
    --amarillo: #e88a1a;
    --rojo: #cf3030;
    --negro: #141414;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    font-size:  62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Prompt', sans-serif;
    min-height: 100%;
    background-image: linear-gradient(to top, #cf3030 0%, #000000 20%);
    background-color: var(--rojo);
    font-size:  1.6rem;
}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    background-color: var(--gris);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    margin-bottom: 3rem;
}

.site-header nav {
    max-width: 1200px;
    margin: 0 auto;
    padding:  2rem 0;

    display: flex;
    justify-content: space-evenly;
}
.site-header nav a {
    color: var(--rojo);
    font-size: 2.2rem;
    text-decoration: none;
}

.hero {
    height: 100%;
    background-image: url(../img/basket-wallpaper.jpg);


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero::after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.contenedor-hero h1 {
    color: var(--gris);
    font-size: 13rem;
    margin: 0px 0px 0px 0px;
    padding: 150px 0px 0px 0px;
}

.contenedor-hero p {
    color: var(--rojo);
    font-size: 4rem;
    margin: 0px;
}

.contenedor-hero{
    position: relative;
    z-index: 1;
    flex: 1;
    padding-bottom: 2rem;
    color: white;
    text-align: right;
    margin: 50px;
}

@media (min-width: 1200px) {

    .contenedor-hero{
        position: relative;
        z-index: 1;
        flex: 1;
        padding-bottom: 2rem;
        color: white;
        text-align: right;
        margin: 0px 100px 0px 0px ;
    }
}

.contenedor-boton{
    position: relative;
    z-index: 1;
    flex: 1;
    padding-bottom: 2rem;
    color: white;
    text-align: center;
    margin: 0px ;
}

.btn {
    background-color: var(--amarillo);
    padding: 1rem 2rem;
    border-radius: 5px;
    display: inline-block;
    color: var(--rojo);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    border:none;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--rojo);
    color: var(--amarillo);
    transition: 0.6s ease;
}

@media (min-width:1200px) {
    .servicios-contenedor {
        display: flex;
        justify-content: space-between;
    }
}
.servicios-contenedor {
    display: flex;
    justify-content: space-between;
}
.servicios{
    padding: 0px 20px;
}

.servicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.servicio p{
    font-family: 'Roboto', sans-serif;
    text-transform:  uppercase;
    font-size: 2rem;
}
.servicio img {
    width: 10em;
}

.servicio img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: all .5s ease-in-out;
}

.contenedor .def-descripcion p {
    font-family: 'Roboto', sans-serif;
    color: var(--rojo);
    font-size: 2rem;
    text-align: center;
}


#ataqueSeleccionado img {
    width: 15em;
}

#resultadosTitle {
    color: var(--rojo);
}

.misresultados {
    display: none;
    justify-content: center;
}
.estadisticas {
    margin : 0 40px;
    display: flex;
    height: 100%;
}
#defensaResultante {
    color: var(--amarillo);
    font-family: 'Prompt', sans-serif;
    font-size: 4rem;
    margin: 0px;
}
#PorcentajeResultante {
    color: var(--rojo);
    font-family: 'Prompt', sans-serif;
    font-size: 15rem;
    margin: 0px;
}
.listaAtaques {
    display: flex;
    justify-content: space-around;
}
.listaAtaques .selecAtaque img {
    height: 10em;
    margin: 8px;
}
.listaAtaques .selecAtaque {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultado{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tg  {border-collapse:collapse;border-spacing:0;border-color:#9ABAD9;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#444;background-color:#EBF5FF;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#fff;background-color:#409cff;}
.tg .tg-c8qn{font-weight:bold;background-color:#ffffff;color:#333333;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}


.spinner {
    margin: 10px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: var(--rojo);
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce { 
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  .contspinner{
      display: none;
  }